<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Templates and Includes</title>
</head>

<body ng-app="TemplateApp">
<div ng-controller="MainCtrl" ng-init="fruits=[{ key : 'apple', link : 'https://en.wikipedia.org/wiki/Apple', fr_name : 'pomme' }, {key : 'kiwi', link : 'https://en.wikipedia.org/wiki/Kiwifruit', fr_name : 'kiwi francaise'}]">
	<section ng-include="incOne"></section>
	<section ng-include="'template.html'"></section>
	<input type="text" ng-model="name" ng-init="name='gargle'"></input>
	{{uppername}}booby

	
	<h1>Favorite Fruit Picker!</h1>
 	<select id="fruitPicker" ng-model="fruit" ng-options="f.key for f in fruits" >
 		<option value="">-- choose fruit --</option>
 	</select>
 	<p>
	 	<span ng-show="fruit != undefined">Your favorite fruit is: <a ng-href="{{fruit.link}}" target="_blank">{{fruit.key}}</a></span>
	</p>
  	<p>
 		<span ng-show="fruit != undefined">Ton fruit prefere est : {{fruit.fr_name}}</span>
 	</p>
	<d-Heading></d-Heading>

</div>
	
		<script src="js/angular.min.js"></script>
	<script src="js/handler.js"></script>
</body>
</html>

